.popup__container {
  position: relative;
  margin: 195px auto 0;
  width: 430px;
  height: 330px;
  background-color: #fff;
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .popup__container {
    margin: 123px auto 0;
    width: 282px;
    height: 322px;
  }
}
