.header__line {
  margin: 41px 0 0;
  width: 880px;
  opacity: 0.7;
  border: 1px solid #545454;
}


@media screen and (max-width: 1279px) {
  .header__line {
    margin: 41px auto 0;
    max-width: 581px;
  }
}

@media screen and (max-width: 767px) {
  .header__line {
    max-width: 320px;
    margin: 31px 0 0;
  }
}