.popup__icon_close {
  width: 32px;
  height: 32px;
  opacity: 1;
  transition: opacity 0.8s;
}

@media screen and (max-width: 767px) {
  .popup__icon_close {
    width: 20px;
    height: 20px;
  }
}

.popup__icon_close:hover {
  opacity: 0.6;
  transition: opacity 0.4s;
}